:root {
  --primary: #6aa2f7;      /* Gray Blue */
  --accent: #3aa17e;       /* Teal Green */
  --text: #333333;         /* Charcoal */
  --background: #333333;   /* Charcoal */
  --secondary-bg: #f7f7f7; /* Light Taupe */
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
  color: var(--text);
  line-height: 1.6;
  padding: 2rem;
}

header {
  background-color: var(--primary);
  color: var(--background);
  padding: 1.5rem;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 5px;
}

h1, h2 {
  margin: 0.5 rem 0;
}

section {
  background-color: var(--secondary-bg);
  padding: 1.5rem;
  margin-top: 5px;
  border-radius: 8px;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.project, .contact, .about, .info, .mycoculture {
  margin-bottom: 1.5rem;
  margin-left: 30px;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}

#projecticon  {
    float: left;    
    margin: 10px 15px 0 15px;
}

#screenshot1 {
    align-items: left;
    margin: 10px 15px 0 15px;
}
#screenshot2 {
    align-items: center;
    margin: 10px 15px 0 15px;
}
#screenshot3 {
    align-items: right;
    margin: 10px 15px 0 15px;
}

.navigation li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.navigation ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background);
}

.navigation li a {
  display: block;
  color: var(--primary);
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigation li a:hover {
  background-color: black;
}

.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}