<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Kristina Camacho</title>
  <link type="image/png" sizes="16x16" rel="icon" href="../images/favicon.ico">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="content-wrapper">
  <header>
    <h1>Kristina Camacho</h1>
    <p>Project Manager | AI Software Developer | Electrical Engineering Student</p>
  </header>
  <nav class="navigation">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../templates/about.html">About</a></li>
      <li><a href="../templates/projects.html">Projects</a></li>
      <li><a href="../templates/resume.html">Resume</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <section>
    <h2 id="about">About Me</h2>
      <p>
          Technology + Wellness = Passion
      </p>
      <p>
          My name is Kristina Camacho and I am a multidisciplined software developer with 10 years of experience in project management. 
          I have experience running and developing projects involved with combining technology and human needs like Software as a service (SAAS) products,
          subscription models, AI Wellness apps, Marketing solutions and permaculture projects. From these experiences 
          come a multistrategic understanding of how business needs meet technology to bring the user a rewarding experience.
          Creating simple and optimized operation solutions light me up faster than a cup of coffee!
      </p>
      <p>
          Click <a href="../templates/projects.html">here</a> or in the navigation bar above to view a list of projects I was directly involved in managing and developing.
      </p>
      <p>
        Enjoy!
      </p>
  </section>

 
  <section>
    <h2 id="contact">Contact</h2>
      <p><a href="mailto:carter_kristina@proton.me">Email</a> | <a href="https://github.com/kcamacho1" target="_blank">GitHub</a> | <a href="https://linkedin.com/in/kristinacassiecamacho" target="_blank">LinkedIn</a></p>
  </section>

  <footer>
    <p>&copy; 2025 Kristina Camacho. All rights reserved.</p>
  </footer>
</div>
</body>
</html>