<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Kristina Carter</title>
  <link type="image/png" sizes="16x16" rel="icon" href="../images/favicon.ico">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <div class="content-wrapper">
  <header>
    <h1>Autonomous RC Car</h1>
    <p>
      Self Driving | Collision Detection | Arduino C++
      <br>
      <b>Role:</b> Software Developer | Schematics & Wiring | Project Manager
    </p>
  </header>

  <nav class="navigation">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../templates/about.html">About</a></li>
      <li><a href="../templates/projects.html">Projects</a></li>
      <li><a href="../templates/resume.html">Resume</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <section>
    <h2>Tank Bot</h2>
        <p>Self driving RC car with Arduino board written in C++ with Collision Detection. 
          Features include sound module, LED lights and recoil effects</p>
    <h2>Specifications</h2>
      <ul>
        <li>
          Consistant Speed (1mps)
        </li>
        <li>
          Drive in a Straight Line (DC Motors)
        </li>
        <li>
          90 degree Right turn
        </li>
        <li>
          Durable
        </li>
        <li>
          Turret Swivel on servo motor
        </li>
        <li>
          Reverse
        </li>
        <li>
          Ultrasonic sensor
        </li>
        <li>
          Recoil (C++ Programming)
        </li>
        <li>
          Tank Hatch 
        </li>
        <li>
          Modular components (Bambu 3D printer)
        </li>
        <li>
          Shooting Sound (Sound Module)
        </li>
        <li>
          LED Light
        </li>
        <li>
          Board: Arduino Uno REV3 [A000066]
        </li>
        <li>
          Design: InventorCAD
        </li>
        <li>
          <a href="https://github.com/kcamacho1/tank_bot" target="_blank">View on GitHub</a>
        </li>
      </ul>
    </section> 
        
  <section id="Gallery">    
    <h2>Gallery</h2>
      <p>
        <video width="200px" height="200px" controls>
          <source src="../assets/tankbot/demo.mp4" type="video/mp4" id="screenshot1">
        </video>
        <a href="../assets/tankbot/exteriorFrontTank.png" target="_blank">
          <img src="../assets/tankbot/exteriorFrontTank.png" id="screenshot2" width="200" height="200" />
        </a>
        <a href="../assets/tankbot/interiorTank.png" target="_blank">
          <img src="../assets/tankbot/interiorTank.png" id="screenshot1" width="200" height="200" />
        </a>
        <a href="../assets/tankbot/CADdrawings.png" target="_blank">
          <img src="../assets/tankbot/CADdrawings.png" id="screenshot2" width="200" height="200" />
        </a>
      </p>
  
  </section>

  <section>
    <h2 id="contact">Contact</h2>
      <p><a href="mailto:carter_kristina@proton.me">Email</a> | <a href="https://github.com/kcamacho1" target="_blank">GitHub</a> | <a href="https://linkedin.com/in/kristinacassiecamacho" target="_blank">LinkedIn</a></p>
  </section>

  <footer>
    <p>&copy; 2025 Kristina Camacho. All rights reserved.</p>
  </footer>
  </div>
</body>
</html>