<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Kristina Camacho</title>
  <link type="image/png" sizes="16x16" rel="icon" href="../images/favicon.ico">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="content-wrapper">
  <header>
    <h1>Ki Wellness</h1>
    <p>
      AI Nutrition and Personal Training Assistant with Food Journal analysis and AI suggestions app and a eCommerce Coaching site
      <br>
            <b>Role:</b> Full Stack Developer
    </p>
  </header>
  <nav class="navigation">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../templates/about.html">About</a></li>
      <li><a href="../templates/projects.html">Projects</a></li>
      <li><a href="../templates/resume.html">Resume</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <section>
    <h2>Tech Stack</h2>
      <p class="techstack">
        | Next.js | TailwindCSS | FastAPI | Axios | Python | Flask | HTML | SQLAlchemy | Nutritionix API | OpenAI |
      </p>
      <p>
        Hosting: Vercel + Railway
      </p>

    <h3>Features</h3>  
      <ul class="info">
        <li>
        Personal Nutrition App: Log your food and receive nutritional Macros about your meal. 
        </li>
        <li>
        Personal Dataset: This app saves a database of logged food and allows AI to provide Meal suggestions and point out nutritional gaps
        </li>
        <li>
        AI Integration: Users data is provided to AI for tailored suggestions of meals, workouts and spiritual work
        <li>
            <a href="https://ki-wellness.vercel.app/">Click here to demo</a>
        </li>
    </ul>

    </section>
    <section id="gallery">
        <h2>Gallery</h2>
        <p>
            <a href="../assets/kiwellness2/landingpage.png" target="_blank">
                <img src="../assets/kiwellness2/landingpage.png" width="400" height="200" id="screenshot1" />
            </a>
            <a href="../assets/kiwellness2/booking.png" target="_blank">
                <img src="../assets/kiwellness2/booking.png" width="400" height="200" id="screenshot2" />
            </a>
            <a href="../assets/kiwellness2/roadmap.png" target="_blank">
                <img src="../assets/kiwellness2/roadmap.png" width="400" height="200" id="screenshot1" />
            </a>

        </p>
  </section>

 
  <section>
    <h2 id="contact">Contact</h2>
      <p><a href="mailto:carter_kristina@proton.me">Email</a> | <a href="https://github.com/kcamacho1" target="_blank">GitHub</a> | <a href="https://linkedin.com/in/kristinacassiecamacho" target="_blank">LinkedIn</a></p>
  </section>

  <footer>
    <p>&copy; 2025 Kristina Camacho. All rights reserved.</p>
  </footer>
  </div>
</body>
</html>