<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Kristina Carter</title>
  <link type="image/png" sizes="16x16" rel="icon" href="../images/favicon.ico">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <header>
    <h1>Ki Wellness</h1>
    <p>Personal Nutrition Journal with Macro tracking, Statistics/ Dashboard and AI Support</p>
  </header>
  <nav class="navigation">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../templates/about.html">About</a></li>
      <li><a href="../templates/projects.html">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <section>
    <h2>Tech Stack</h2>
    <div class="projectinfo">
      <p class="techstack">
        | Python | Flask | HTML | CSS | SQLite | Nutritionix API |
      </p>
    <h2>Features</h2>  
      <ul class="info">
        <li>
        Personal Nutrition App: Log your food and receive nutritional information about your meal. 
        </li>
        <li>
        Personal Dataset: This app saves a database of logged food and allows the user to view thier data as a table or graph. 
        </li>
        <li>
        AI Integration: Users data is provided to AI for tailored meal suggestions or vitamins to supplement any nutritional gaps
        </li>
        <li>
            <a href="https://ki-wellness.onrender.com">Click here for Demo</a>
        </li>
    </ul>
    <h2>Screenshots</h2>
    <p>
        <a href="../assets/kiwellness/design.png" target="_blank">
            <img src="../assets/kiwellness/design.png" width="300" height="200" id="screenshot1" />
        </a>
        <a href="../assets/kiwellness/kiwellnessv1.png" target="_blank">
            <img src="../assets/kiwellness/kiwellnessv1.png" width="300" height="200" id="screenshot2" />
        </a>
    </p>
    </div>
  </section>

 
  <section>
    <h2 id="contact">Contact</h2>
    <div class="contact">
      <p><a href="mailto:carter_kristina@proton.me">Email</a> | <a href="https://github.com/kcamacho1" target="_blank">GitHub</a> | <a href="https://linkedin.com/in/kristinacassiecamacho" target="_blank">LinkedIn</a></p>
    </div>
  </section>

  <footer>
    <p>&copy; 2025 Kristina Camacho. All rights reserved.</p>
  </footer>
</body>
</html>