<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Kristina Carter</title>
  <link type="image/png" sizes="16x16" rel="icon" href="../images/favicon.ico">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <div class="content-wrapper">
  <header>
    <h1>MycoCulture Mushroom Lab</h1>
    <p>
      Edible Mushroom Lab
      <br>
      <b>Role:</b> Project Coordinator | Builder | Proposal Writing | Business Strategist | Head Mushroom producer
    </p>
  </header>
  <div class="content-wrapper">
  <nav class="navigation">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../templates/about.html">About</a></li>
      <li><a href="../templates/projects.html">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>
  <section>
  <div class="content-wrapper">
    <h2>MycoCulture</h2>
    <div class="mycoculture">
      <p>
        Edible mushrooms for sustainable living
      </p>
      <p>
        | Shiitaki | Lions Mane | Turkey Tail |
      </p>
      <p>
        I drafted a business proposal to build an edible mushroom lab for a non-profit permaculture center and had it approved by the board of directors.
        Once approved I designed and built an edible mushroom lab with a clean room and lamnar flow system on a tight budget. 
        This allowed for spore and mycelium storage, innoculation and fruiting.
      </p>
    <div>
    <h3>Specifications</h3>
      <ul>
        <li>
          To Grow Edible Organic Mushrooms to sell to Market
        </li>
        <li>
          To employ Mushroom Harvesters, People to Clean/ Prepare Mushrooms to be Market Ready and Sellers or Distributors for Market
        </li>
        <li>
          To Study and Research (Companion Planting)  the symbiotic relationship between Mushrooms and Plants to create a recurring annual Mushroom Harvest. 
        </li>
          <ul>
            <li>
              <a href="https://www.youtube.com/watch?v=QQNI9rvjIPs&t=146s">Mushroom/ Tree Companion Planting Soil Benefits [ Video ]</a>
            </li>
            <li>
              <a href="http://medicinegarden.co.za/about/companion-planting/mushroom-companion-plants/">Mushroom/ Tree Companion Chart [ Website ]</a>
            </li>
          </ul>

        <li>
          To grow and store Medicinal Mushrooms for Claymont residential and apothecary use
        </li>
        <li>
          To sell exotic and medicinal mushrooms Spores, Clones and Substrate Mixture
        </li>
        <li>
          Create Workshops/ Educational/ Work-Trade Programs
        </li>
        <li>
          <a href="../assets/mushroomlab/project-proposal.pdf" target="_blank">View full Project Proposal</a>
        </li>
      </ul>

    </div>
  </div>
  </section>
 
  <section id="Gallery">    
    <h2>Gallery</h2>
      <p>
        <a href="../assets/permaculture/shiitaki.jpg" target="_blank">
          <img src="../assets/permaculture/shiitaki.jpg" id="screenshot1" width="200" height="200" />
        </a>
        <a href="../assets/permaculture/oysters.jpg" target="_blank">
          <img src="../assets/permaculture/oysters.jpg" id="screenshot2" width="200" height="200" />
        </a>
        <a href="../assets/permaculture/plant-mush.jpg" target="_blank">
          <img src="../assets/permaculture/plant-mush.jpg" id="screenshot3" width="200" height="200" />
        </a>
      </p>
  
  </section>
 
  <section>
    <h2 id="contact">Contact</h2>
      <p><a href="mailto:carter_kristina@proton.me">Email</a> | <a href="https://github.com/kcamacho1" target="_blank">GitHub</a> | <a href="https://linkedin.com/in/kristinacassiecamacho" target="_blank">LinkedIn</a></p>
  </section>

  <footer>
    <p>&copy; 2025 Kristina Camacho. All rights reserved.</p>
  </footer>
  </div>
</body>
</html>