<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Kristina Carter</title>
  <link type="image/png" sizes="16x16" rel="icon" href="../images/favicon.ico">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <div class="content-wrapper">
  <header>
    <h1>Permaculture Internship Program</h1>
    <p>
        Organized education track with a non-profit spiritual community
        <br>
        <b>Role:</b> Organizational Strategist | Project Manager | Participant
    </p>

  </header>
  <nav class="navigation">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../templates/about.html">About</a></li>
      <li><a href="../templates/projects.html">Projects</a></li>
      <li><a href="../templates/resume.html">Resume</a></li>
      <li><a href="../index.html#contact">Contact</a></li>
    </ul>
  </nav>

  <section>
    <h2>Internship Program</h2>
        <p class="internship">
            At Claymont (A Non-Profit Nature Preserve and Retreat Center) I created the organizing structure for the Claymont Retreat Centers first permaculture intership program. 
            Before arriving there was discourse within the community members however after surveying the individuals I was able to 
            recognize a consistent pain point (heirarchy structure) that was hindering progress of this program.
            <br>
            <br>
            Using experience from network engineering I used star topology as inspiration for the new organizing structure. 
            After presenting this information to the community members we had majority buy in and was able to successfully kick off and complete the permaculture program at Claymont! 
        </p>
    <h3>Program Courses Included</h3>
        <ul>
            <li>
                Tiny house build
            </li>
            <li>
                Natural Soap Making
            </li>
            <li>
                Meditation Practice
            </li>
            <li>
                Tai Chi
            </li>
            <li>
                Food forest preservation
            </li>
            <li>
                Food Garden Cultivation
            </li>
            <li>
                Yoga
            </li>
            <li>
                Visit <a href="https://claymont.org">Claymont Website</a>
            </li>
        </ul>
              <br>
    <h3>Internship Work Teams Sheet</h3>
        <p>
            PDF of the reorganization of teams and course leads, assistant, or support
        </p>
        <object data="../assets/permaculture/workteams.pdf" type="application/pdf" width="100%" height="400px">
            <p>Unable to display PDF file. <a href="../assets/permaculture/workteams.pdf">Download</a> instead.</p>
        </object>
  </section>

  <section>
    <h2>Gallery</h2>
        <p>
            <a href="../assets/permaculture/tinyfloorplan.png" target="_blank">
                <img src="../assets/permaculture/tinyfloorplan.png" width="500" height="200" id="screenshot1" />
            </a>
            <a href="../assets/permaculture/outdoorgrow.jpg" target="_blank">
                <img src="../assets/permaculture/outdoorgrow.jpg" width="200" height="300" id="screenshot2" />
            </a>
        </p>
  </section>
 
  <section>
    <h2 id="contact">Contact</h2>
      <p><a href="mailto:carter_kristina@proton.me">Email</a> | <a href="https://github.com/kcamacho1" target="_blank">GitHub</a> | <a href="https://linkedin.com/in/kristinacassiecamacho" target="_blank">LinkedIn</a></p>
  </section>

  <footer>
    <p>&copy; 2025 Kristina Camacho. All rights reserved.</p>
  </footer>
  </div>
</body>
</html>