<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Kristina Carter</title>
  <link type="image/png" sizes="16x16" rel="icon" href="../images/favicon.ico">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <div class="content-wrapper">
  <header>
    <h1>Kristina Carter</h1>
    <p>Project Manager | AI Software Developer | Electrical Engineering Student</p>
  </header>
  <nav class="navigation">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../templates/about.html">About</a></li>
      <li><a href="../templates/projects.html">Projects</a></li>
      <li><a href="../templates/resume.html">Resume</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>


  <section>
    <h2 id="projects">Projects</h2>

<!-- Ki Wellness -->
    <div class="project">
      <h3>Ki Wellness (in progress)</h3>
      <hr>
      <img src="../assets/kiwellness2/logoname.png" alt="kiiconimg" width="100" height="100" id="projecticon"/>
      <p>Designed, Built and Deployed a full AI-powered health platform. Personal Food journal with AI integrated into: Macro lookup, analysis of nutritional gaps, meal suggestions, 
        Exercise and Spiritual video suggestions tailored to you. Using technology to help you feel your best in the easiest way possible</p>
        <ul>
          <a href="../templates/kiwellness.html" target="_self">Learn More</a>
        </ul>
        <ul>
          <a href="https://kiwellness.org" target="_self">View Site</a>
        </ul>
    </div>
    
    <br>

<!-- AI Food Journal App -->
    <div class="project">
      <h3>AI Food Journal</h3>
      <hr>
      <img src="../assets/kiwellness/Tech~KiWellness.png" alt="kiiconimg" width="100" height="100" id="projecticon"/>
      <p>AI food Journal with macro lookup and AI analysis with Meal suggestions.</p>
        <ul>
          <a href="../templates/foodJournal.html" target="_self">Learn More</a>
        </ul>
        <ul>
          <a href="https://github.com/kcamacho1/AI_food_journal" target="_blank">GitHub Code</a>
        </ul>
    </div>
    
    <br>

<!-- RC Car -->
    <div class="project">
      <h3>Autonomous RC Car</h3>
      <hr>
      <img src="../assets/tankbot/exteriorFrontTank.png" alt="tankimg" width="100" height="100" id="projecticon"/>
      <p>Arduino + C++ autonomous car with object detection and battery integration.</p>
      
        <ul>
          <a href="../templates/autonomousCarProject.html" target="_self">Learn More</a>
        </ul>
        <ul>
          <a href="https://github.com/kcamacho1/tank_bot/blob/main/README.md" target="_blank">GitHub Code</a>
        </ul>
      
      </div>

          <br>

<!-- Mushroom Lab -->
      <div class="project">
        <h3>Edible Mushroom Lab</h3>
        <hr>
        <img src="../assets/mushroomlab/mycoculture.png" alt="myceliumimg" width="100" height="100" id="projecticon"/>
        <p>Designed, built and maintained an Edible Mushroom Lab</p>
        
          <ul>
            <a href="../templates/mushroomlab.html" target="_self">Learn More</a>
          </ul>
        
        </div>

                  <br>
                  <br>
<!-- Permaculture Internship -->
      <div class="project">
        <h3>Permaculture Internship</h3>
        <hr>
        <img src="../assets/permaculture/permaculture.png" alt="myceliumimg" width="100" height="100" id="projecticon"/>
        <p>Organized operational teams for a permaculture internship program and education track</p>
        
          <ul>
            <a href="../templates/permaculture.html" target="_self">Learn More</a>
          </ul>
          <br>
        </div>
  </section>

  <section>
    <h2 id="contact">Contact</h2>
    <div class="contact">
      <p><a href="mailto:carter_kristina@proton.me">Email</a> | <a href="https://github.com/kcamacho1" target="_blank">GitHub</a> | <a href="https://linkedin.com/in/kristinacassiecamacho" target="_blank">LinkedIn</a></p>
    </div>
  </section>

  <footer>
    <p>&copy; 2025 Kristina Camacho. All rights reserved.</p>
  </footer>
  </div>
</body>
</html>
